@using SK.DDP.ImageGallery.Helpers
@model SK.DDP.ViewModels.UserViewModel

@{
    ViewBag.Title = "Login";
    if (ViewBag.Partial != null)
    {
        Layout = string.Empty;
    }
}

<div class="text-center">
    <h3><b>Log In</b></h3>
</div>

@using (Html.BeginForm("Login", "Authorization", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "inputBox" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            @Html.LabelFor(model => model.Login)
            @Html.EditorFor(model => model.Login, new {htmlAttributes = new {placeholder = Html.GetDisplayName(model => model.Login), @class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Login, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {placeholder = Html.GetDisplayName(model => model.Password), @class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-success btn-lg btn-block"/>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
