@model IEnumerable<SK.DDP.ViewModels.UserProfile>

@{
    ViewBag.Title = "Users Management";
}

<h2>Users Management</h2>

<p>
    @Html.ActionLink("Add", "AddUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { login=item.Login }) |
            
            @Html.ActionLink("Delete", "DeleteUser", new { login=item.Login })
        </td>
    </tr>
}

</table>
