@model SK.DDP.ImageGallery.Models.AddImagePageViewModel

@{
    ViewBag.Title = $"Add Image";
    if (ViewBag.Partial != null)
    {
        Layout = string.Empty;
    }
}

<div class="text-center">
    <h3><b>@ViewBag.Title</b></h3>
</div>

@using (Html.BeginForm("AddImage", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { enctype = "multipart/form-data", @class = "inputBox" } ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.HiddenFor(model => model.Album, new { htmlAttributes = new { @class = "form-control" } })
            <input type="file" id="Image" name="Image" class="form-control" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-success btn-lg btn-block" />
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>