@using SK.DDP.ImageGallery.Helpers
@model IEnumerable<SK.DDP.BL.AlbumViewModel>

@{
    ViewBag.Title = $"{CredentialsHelper.GetAuthenticatedUserName()} Albums";
}

<div class="container-fluid header-container">
    <div class="row ver">
        <div class="col-md-12">
            <a href="../Home/Index" class="header-navigation-first-link">Home</a>
        </div>
    </div>
    <div class="row ver">
        <div class="col-md-6">
            @Html.ActionLink((string)ViewBag.Title, "Index", new { }, new { @class = "btn btn-default btn-lg header-title" })
        </div>
        <div class="col-md-6">
            <div class="dropdown pull-right">
                @Html.ActionLink("Add Album", "AddAlbum", new { }, new { @class = "btn btn-default btn-lg header-top-level-button" })
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "ViewAlbum", new { id=item.Album_UID })
        </td>
        <td>
            @Html.ActionLink("Rename", "RenameAlbum", new { id=item.Album_UID }) |
            
            @Html.ActionLink("Delete", "DeleteAlbum", new { id=item.Album_UID }, new { onclick= $"return confirm ('Please confirm removal of {item.Name}.');" })
        </td>
    </tr>
}

</table>
