@using SK.DDP.ImageGallery.Helpers
@model IEnumerable<SK.DDP.BL.AlbumViewModel>

@{
    ViewBag.Title = $"{CredentialsHelper.GetAuthenticatedUserName()} Albums";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add", "AddAlbum")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "ViewAlbum", new { id=item.Album_UID })
        </td>
        <td>
            @Html.ActionLink("Rename", "RenameAlbum", new { id=item.Album_UID }) |
            
            @Html.ActionLink("Delete", "DeleteAlbum", new { id=item.Album_UID }, new { onclick= $"return confirm ('Please confirm removal of {item.Name}.');" })
        </td>
    </tr>
}

</table>
